.customPricesBtnWrapper {
  display: flex;
  align-items: center;
  gap: .3rem;
}
.csv-loader-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(255, 255, 255, 0.9);
  z-index: 9999;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .importing-description{
    margin-top: 30px;
  }
}
.customPricesTitle {
  align-self: center;
}
.skeleton-row {
  width: 100%;
  height: 40px;
  margin-bottom: 10px;
  border-radius: 4px;
}
.smart-bar__actions {
  display: flex !important;
  align-items: center !important;

  .sw-button {
    align-self: center !important;
  }

}

.smart-bar__header {
  display: flex !important;
  align-items: center !important;
}

.sw-meteor-page__smart-bar-module-info {
  align-self: center !important;
}

.sw-notification-center-item .sw-notification-center-item__header--is-new {
  margin-bottom: 15px !important;
}